
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gastromovil</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        
    <nav>
        <div class="nav-logo">
            <img src="^{% static 'img/logo.png' %}" alt="Gastromovil">
            <span>GastroMovil</span>
        </div>
        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Menú</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    
    <main>
    
    </main>
        <script src="" async defer></script>
    </body>
</html>